body {
	font-family: 'Play', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	display: block;
	border: 0;
	width: 100%;
	height: 1px;
	margin: 40px 0;

	background: #e5e5e5;
}

/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;

	background: url(../imgs/bgintro.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.intro__inner {
	width: 100%;
	min-width: 880px;
	margin: 0 auto;

	text-align: center;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 60px auto;

	background-color: #fff;
}

.intro__suptitle {
	margin-bottom: 15px;
	font-size: 55px;
	color: #fff;
	font-family: 'Akaya Telivigala', cursive;
}

/* Header */
.header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 13px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header.fixed {
	background-color: #02020cdb;
	box-shadow: 0 3px 10px rgb(0 0 0 / 32%);

	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	transform: translate3d(0,0,0);
}

.header.fixed .nav__link:first-child {
	color: #fff;
}

.header.fixed .nav__link:first-child:hover {
	color: #301FF3;
}

.header.active {
	background-color: #b316a77a;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.no {
	text-decoration: none;
}

/* Nav */
.nav {
	font-size: 14px;
	text-transform: uppercase;	
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	position: relative;
	font-weight: 700;

	transition: color .2s linear;
}

.nav__link:first-child {
	color: #000;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;

	background-color: #301FF3;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .2s linear;
}

.nav__link:hover {
	color: #301FF3;
}

.nav__link:hover:after{
	opacity: 1;
}

/* Nav-Toggle */
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;
	
	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 19px;
	right: 20px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}


.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: #fff;
	left: 0;
	z-index: 1; 

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top; 
	transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom; 
	transform: rotate(-45deg) translateX(-4px);
}

/* Button */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;

	border: 3px solid #fff;

	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;

	transition: background .2s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}

/* Slider */
.slider {
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	width: 22%;
	padding: 20px 0;
	position: relative;

	border-top: 3px solid #fff;

	opacity: 0.7;

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;

	background-color: #f50575;


	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
}

.slider__number {
	font-size: 24px;
	font-weight: 700;
}

/* Section */
.section {
	padding: 80px 0;
}

.section--minigames {
	padding-bottom: 0;

	background: url("../imgs/bg.jpg")
	center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}

.section__suptitle {
	font-size: 24px;
	color: #333;
	font-family: 'Akaya Telivigala', cursive;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px; 
	margin: 30px auto;

	background-color: #f50575;
}

.section__text {
	color: #999;
	font-size: 15px;
}

/* About */
.about  {
	margin-top: 80px;
	flex-wrap: wrap;

	display: flex;
	justify-content: space-between;
}

.about__item {
	width: 256px;
	position: relative;

	background-color: #3311DC;
}

.about__item:hover .about__img {
	transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
	opacity: 0.1;
}

.about__item:hover .about__text {
	opacity: 1;
}

.about__img {
	background: linear-gradient(to  bottom, #330CF9, #020107);

	transition: transform .2s linear;
}

.about__img img {
	display: block;
	transition: opacity .1 linear;
}

.about__text {
	width: 100%;

	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);

	transition: opacity .2s linear;
}

/* Statistics */
.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
	flex-wrap: wrap;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;

	border-left: 1px solid #b5eae0;

	text-align: center;
	color: #fff;
}

.stat__item:last-child {
	border-right: 1px solid #b5eae0;
}

.stat__count {
	margin-bottom: 12px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

/* Services */
.services  {
	display: flex;
	flex-wrap: wrap;
}

.services__item {
	width: 33.3333%;

	padding: 0 35px 40px 85px;
	position: relative; 

	margin-bottom: 40px;
}

.services__item--border {
	border-bottom: 1px solid #e5e5e5;
}

.services__icon {
	position: absolute;
	top: -3px;
	left: 10%;
	z-index: 1;
}

.services__title {
	text-transform: uppercase;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
}

.services__text {
	font-size: 15px;
	color: #999;
}

/* Minigames */
.minigames {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.minigames__item {
	display: block;
	max-width: 100%;
	height: auto;
}

.minigames__item--iphone {
	position: absolute;
	bottom: -30px;
	right: 46px;
	z-index: 1;
}

/* Footer */
.footer {
	display: flex;
	background-color: #E2E3E0;
}

.footer__item {
	flex: 1 1 0;
	padding: 70px 25px;

	text-align: center;
	color: #fff;
}

.footer__text {
	margin-bottom: 12px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
} 

.footer__text i {
	margin-left: 7px;
}

.instagramm__link {
	text-decoration: none;
	color: #fff;

	transition: color .2s linear;
}

.instagramm__link:hover {
	color: #E41594;
}

@media (max-width: 1230px) {
	/* Intro */
	.intro__title {
		font-size: 100px;
	}

	.intro__suptitle {
		font-size: 50px;
	}

}

@media (max-width: 990px) {
	/* Intro */
	.intro__title {
		font-size: 80px;
		width: 44%;
	}

	.intro__suptitle {
		font-size: 45px;
		width: 44%;
	}

	/* Statistics */
	.stat {
		justify-content: center;
	}
	.stat__item {
		flex: none;
		width: 33.333333%;
		border: 0;

		padding-top: 30px;
		padding-bottom: 30px; 
	}

	.stat__item:last-child {
		border: 0;
	}
	
	/* Serv */
	.services__item {
		width: 100%;
		padding-bottom: 0;
		padding-left: 55px;
	}

	.services__item--border {
		border-bottom: 0;
	}

	.services__icon {
		left: 0;
	}
}

@media (max-width: 770px) {
	
	/* Header */

	.header {
		padding: 11px 0;
	}

	/* Nav */
	.nav {
		display: none;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;
		
		background-color: #02020cdb;

	}

	.nav.active {
		display: block;
	}

	.nav__link {
		display: block;
		margin: 0;
		padding: 8px 20px;
	}

	.nav-toggle {
		display: block;
	}

	/* Section */
	.section {
		padding: 40px 0;
	}

	/* About */
	.about__item {
		width: 100%;
		padding: 0 15px;
		background-color: #fff;
	}

}

@media (max-width: 575px) {
	/* Intro */
	body {
		overflow-x:hidden;
	}
	.intro__title {
		font-size: 48px;
	}

	.btn {
		margin-left: 70px;
		float: left;
	}
	.intro__suptitle {
		font-size: 30px;
	}

	/* Section */
	.section__header {
		margin-bottom: 50px;
	}

	.section__title {
		font-size: 24px;
	}

	.section__suptitle {
		font-size: 13px;
	}

	.section__title:after {
		margin: 20px auto;
	}

	/* About */
	.about {
		justify-content: center;
	}

	.about__item {
		width: 287px;
		padding: 0 15px;
		background-color: #fff;
		margin-bottom: 20px;
		margin-top: 10px;
	}
		/* Statistics */
	.stat__item {
		width: 100%;

		border-bottom: 1px solid #b5eae0;
	}

	/* Dev */
	.minigames {
		max-width: 320px;
	}

	.minigames__item--iphone {
		max-width: 180px;
		bottom: -19px;
		right: -28px;
	}

	/* Footer */
	.footer {
		height: 215px;
	}
	.footer__text {
		padding-bottom: 15px;
		padding: 0;
		margin: 0;
		height: 150px;
	}
	.footer__item {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 375px) {
	.intro__inner {
		margin-left: -15px;
	}
	.intro__title {
		font-size: 40px;
	}

}